@import './navbar.scss';
@import './home.scss';
@import './schedule.scss';
@import './speakers.scss';
@import './jobs.scss';
@import './footer.scss';

body {
  font-family: "DaimlerCS-Regular";
}

h1{
  font-family: "DaimlerCS-Demi";
  font-size: 80px;
}

h2{
  font-family: "DaimlerCS-Demi";
}

.loader {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  height: 100vh;
}

@font-face{
  font-family: "DaimlerCS-Regular";
  src: local("DaimlerCS"), url("../fonts/DaimlerCS-Regular.woff2") format("woff2");
}

@font-face{
  font-family: "DaimlerCS-Demi";
  src: local("DaimlerCS"), url("../fonts/DaimlerCS-Demi.woff2") format("woff2");
}

@font-face{
  font-family: "DaimlerCS-Light";
  src: local("DaimlerCS"), url("../fonts/DaimlerCS-Light.woff2") format("woff2");
}