.footer{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7));
    background-color: #1f1f1f;
    color: #fff;
    height: 15vh;

    &-text{
        justify-content: flex-start;
        display: flex;
        align-items: center;
        flex: 4;
        p {
            margin-left: 20px;
            font-size: 20px;
        }
    }
    &-icons{
        display: flex;
        align-self: center;
        justify-content: space-evenly;
        flex: 1;
        img{
            width: 30px;
        }
    }
}

@media (max-width: 780px){

    .footer{
        flex-direction: column-reverse;
        align-items: center;
        align-content: space-between;
       &-icons{
            margin-top: 20px;
            a{
            margin-left: 20px;
            }
        }
    }
}