.banner {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    height: 100vh;
    background-image: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.3)), url("https://res.cloudinary.com/dciypbwrh/image/upload/v1563439334/particles_zpulba.png");
    background-position: top, bottom;
    background-color: #1f1f1f;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-evenly;

    img {
        max-width: 480px;
    }
}

.details-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    padding: 20px;
    align-items: center;
    background-image: url("https://res.cloudinary.com/dciypbwrh/image/upload/v1563439334/particles_zpulba.png");
    &-top {
        width: 50vw;
        text-align: center;
        font-size: 20px;
        margin-top: 10vh;
        h2{
            font-family: "DaimlerCS-Demi";
            font-size: 3em;
        }
    }
    &-bottom {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 20px;
        font-family: "DaimlerCS-Demi";
    }
}

@media (max-width: 780px) {
    .banner{
        img{
            width: 55vw;
        }
    }
    .details-banner {
        flex-direction: column;
        justify-content: space-around;
        &-top{
            flex-direction: column;
            margin-top:2vh;
            width: 80vw;
            h2{
                font-size: 2em;
            }
        }
        &-bottom{
            font-size: 15px;
            padding: 10px;
            // flex-direction: column;
        }
    }
}