.banner {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    height: 100vh;
    background-image: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)), url("https://res.cloudinary.com/dciypbwrh/image/upload/v1563439334/particles_zpulba.png");
    background-position: top, bottom;
    background-color: #1f1f1f;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-evenly;

    img {
        max-width: 480px;
    }

    h1 {
        color: #ffffff;
        font-size: 80px;
        text-align: center;
        font-weight: 700;
    }

    h2 {
        background-color: #007bffba;
        width: 60vw;
        text-align: center;
        font-size: 24px;
        padding: 5px;
        font-family: "DaimlerCS-Demi"

    }
    h3 {
        background-color: #ffffff80;
        font-size: 16px;
        width: 40vw;
        text-align: center;
        padding: 5px;
    }
}

.details-banner {
    display: flex;
    height: 80vh;
    padding: 20px;
    align-items: center;
    img {
        width: 50vw;
        height: 100%;
        color: #007bffba;
        padding: 20px 50px;
    }
    p {
        width: 50vw;
        padding: 0 50px;
    }
}

@media (max-width: 780px) {

    .banner{
        img{
            width: 55vw;
        }
    }
    .details-banner {
        flex-direction: column;
        padding: 0;
        justify-content: space-around;
        img {
            width: 40vw;
            height: 50%;
            padding: 0 30px;
            align-self: start;
        }
        p {
            width: 100vw;
            padding: 0 30px;
        }
    }
}