.jobs {
    display: flex;
    margin: auto 10vw;
    .jobs-description {
        width: 50vw;
        h2 {
            font-weight: 700;
        }
        button {
            background-color:  #00ADEF;
            color: #ffffff;
            border: 1px solid #00ADEF;
            border-radius: 12px;
            padding: 10px;
        }
    }
    .jobs-logo {
        width: 50vw;
        img {
            width: 100%;
        }
    }
}

@media(max-width: 780px) {
    .jobs {
        flex-direction: column;
        margin: 20px;
        .jobs-description {
            width: 100%;
            h2 {
                width: 100%;  
            }
        }
        .jobs-logo {
            width: 30%;
        }
    }
}