.schedule {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    background-color: #000;
    h2 {
        color: #fff;
        padding-left: 15px;
    }
}
    
.schedule-days-list {
    display: flex;
}

.days {
    width: 40vw;  
    display: flex;
    flex-direction: column;
    & > div {
        transition: all 1s;
    }
}

.schedule-details {
    display: flex;
    width: 60vw;
    flex-direction: column;
    padding: 0 20px;
    color: #fff;
    margin-top: 20px;
    &-talk {
        display: flex;
        justify-content: space-between;
        font-family: "DaimlerCS-Demi";
        .talk-hours {
            width: 40vw;
            text-align: center;
            font-size: 20px;
        }
        .talk-description {
            width: 60vw;
            text-align: end;
            padding-right: 10px;
            padding-bottom: 20px;
            font-size: 20px;
            hr {
                border: 0.5px solid #fff;
                margin: auto 0;
            }
            p {
                margin-bottom: 2px;
            }
            &-room {
                font-family: "DaimlerCS-Light";
                font-size: 16px;
            }
        }
    }
}

.day-title {
    background-color: #00ADEF;
    margin-top: 20px;
    width: 180px;
    padding: 10px;
    cursor: pointer;
    h3 {
        color: #fff;
        align-self: flex-end;
        padding: 5px;
        margin: 0;
        text-align: right;
    }
    &-selected {
        background-color: #00ADEF;
        margin-top: 20px;
        width: 100%;
        padding: 10px;
        text-align: end;
        cursor: pointer;
        h3 {
            color: #fff;
            align-self: flex-end;
            padding: 5px;
            margin: 0;
            text-align: right;
        }
    }
}

@media (max-width: 780px) {
    h2 {
        align-self: flex-start;
    }
    .schedule-days-list {
        display: block;
        .days {
            width: 95%;
        }
    }
    .day-title, .day-title-selected {
        padding: 7px;
        margin-right: 10px;
    }
    .schedule-details {
        padding-top: 20px;
        width: 100%;
    }
    .talk-hours {
        width: 20vw;
    }
    .talk-description {
        width: 80vw;
    }
}