.speakers{
    
    &-section{
    margin-top: 75px;
    }

    &-list{
    display: flex;
    flex-wrap: wrap;
    }
}

.speaker-card {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: 15px;
    padding: 5px;
    img {
        width: 100%;
    }
}


@media (max-width: 700px){
    .speakers-list {
        flex-direction: row;
        justify-content: center;
    }
    .speaker-card {
        width: 60vw;
        margin: 10px;
    }
    h2 {
        text-align: center;
    }
}