.speakers{
    
    &-section{
    margin-top: 75px;
    }

    &-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    }
}

.speaker{
    &-card {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0;
        padding: 5px;
        flex-grow: 1;
        justify-content: space-between;
        img {
            width: 100%;
            margin-bottom: 10px;
        }
        &-text{
            display: flex;
            flex-direction: column;
            justify-content: end;
            justify-self: end;
            &-align{
                display:flex;
                justify-content: space-between;
                img{
                    width: 143px;
                    background-color: #f1f1f1;
                }
            }
        }
    }
    &-modal{
        display: flex;
        align-items: center;
        padding: 20px;
        p {
            text-align: right;
        }
        
        &-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        &-text{
            display: flex;
            flex-direction: column;
            img{
                width: 15vw;
                align-self: end;
            }
        }
        &-picture{
            img{
                width:50vw;
            }
        }
    }
}


@media (max-width: 700px){
    .speakers-list {
        flex-direction: row;
        justify-content: center;
    }
    .speaker-card {
        width: 60vw;
        margin: 10px;
        &-text-align{
            display: flex;
            flex-direction: column-reverse;
                img{
                    width: 25vw;
                }
        }
    }
    h2 {
        text-align: center;
    }
}

@media (max-width: 1200px){


}